body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e8eaed;
}

/* CONTAINER */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 80px;
}

/* LEFT SIDE */
.header {
    max-width: 500px;
}

#facebook {
    color: #1877f2;
    font-size: 60px;
    margin-bottom: 10px;
}

#text {
    font-size: 30px;
    font-weight: normal;
    }

/* RIGHT SIDE */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-card {
    background: white;
    padding: 20px;
    width: 350px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.input {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 15px;
}

.login-button {
    background: #1877f2;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
}

.forgot-link a {
    text-align: center;
    font-size: 14px;
    color: #1877f2;
    text-decoration: none;
}

.divider {
    height: 1px;
    background: #dadde1;
    margin: 10px 0;
}

.create-button {
    background: rgb(66, 183, 42);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

/* FOOTER TEXT */
.footer {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}

.footer a {
    font-weight: bold;
    color: black;
    text-decoration: none;
}